/*--global--*/
/*--nav-section--*/
/*--what-is-section--*/
/*--why-become-section--*/
/*--events-section--*/
/*--after-sub-section--*/

/*green - rgb(68, 199, 155)*/
/*blue - rgb(109, 165, 227)*/
/*red - rgb(174, 37, 54)*/
/*purple - rgb(176, 135, 237)*/
/*gray bacground - rgba(188, 206, 224, 0.12)*/

/*--global--*/

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
}

h2 {
  font-size: 56px;
  font-weight: 600;
  color: rgba(68, 199, 155,0.4);
}

h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}

h5 {
  font-weight: 800;
  font-size: 16px;
}

.max-width-container {
  max-width: 1440px;
}

button  {
  background-color: rgb(68, 199, 155);
  padding: 9px 26px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

.green {
  color: rgb(68, 199, 155);
}

.blue {
  color: rgb(109, 165, 227);
}

.red {
  color: rgb(174, 37, 54);
}

.purple {
  color: rgb(176, 135, 237);
}

/*--nav-section--*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:24px;
  height: 97px;
  margin-top: 12px;
}

.hamburger{
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 16px;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.hamburger > div {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position:absolute;
  height: 100%;
  width: 100vw;
  top:-400vw;
  left:-17px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.hidden {
  opacity: 0;
  position: fixed;
  top:-400vw;
}

.hidden:checked ~ .navbar {
  top:97px;
}

.hidden:checked ~ .hamburger {
  height: 36px;
  justify-content: center;
  position: relative;
}

.hidden:checked ~ .hamburger > div:first-child{
  position: absolute;
  transform: rotate(45deg);
}

.hidden:checked ~ .hamburger > div:last-child{
  position: absolute;
  transform: rotate(-45deg);
}

nav > a img{
  width: 93px;
}

.navbar__item {
  margin-top: 50px;
}

.navbar button {
  color: white;
}

/*--what-is-section--*/

.what-is {
  margin-top: 100px;
  position: relative;
}

.what-is > .max-width-container {
  padding: 0 24px;
}

.what-is__upper-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 180px;
}

.what-is__upper-text p {
  max-width: 300px;
  margin-top: 24px;
}

@media only screen and (min-width: 420px) {

  .what-is__upper-text p {
    max-width: 380px;
  }

}

.what-is__items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.what-is__item {
  margin-bottom: 32px;
  margin-right: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  background-color: white;
  border-radius: 24px;
  z-index: 1;
  box-shadow: 0px 0px 8px 10px rgba(188, 206, 224, 0.12); 
}

.what-is__item img{
  width: 48px;
  margin-bottom: 28px;
}

.what-is__item h5{
  margin-bottom: 28px;
}

.what-is__item p{
  margin-bottom: 28px;
}

.what-is__padding {
  background-color: rgba(188, 206, 224, 0.12);
  top:96px;
  bottom: 96px;
  left:0;
  right: 40px;
  position: absolute;
  border-radius: 24px;
}

/*--why-become-section--*/

.why-become {
  margin-top: 100px;
  padding: 0 24px;
}

.why-become__text{
  max-width: 488px;
  margin-bottom: 78px;
}

@media only screen and (min-width: 500px) {

  .why-become {
    padding: 0 42px;
  }

  .why-become__text {
    padding: 0 40px;
  }

}

.why-become__text h1{
  margin-bottom: 24px;
}

.why-become__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-left: 72px;
}

.why-become__container__items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.why-become__container__item {
  margin-bottom: 80px;
  max-width: 360px;
  display: flex;
  justify-content: flex-start;
}

.why-become__container__item img {
  width: 48px;
  height: 48px;
}

.why-become__container__item__text {
  margin-left: 24px;
}

.why-become__container__item p {
  margin-top: 8px;
}

.why-become__container__image {
  background-image: url(./../assets/reasons-members-mobile.png);
  height: 60vw;
  width:100%;
  background-size:contain;
  background-repeat: no-repeat;
}

/*--events-section--*/

.events {
  position: relative;
}

.events h1 {
  padding-top: 64px;
  padding-left: 24px;
  padding-bottom: 84px;
  width: 80%;
}

.events img {
  width: 288px;
  height: 176px;
  border-radius: 24px;
}

.events__padding {
  background-color: rgba(188, 206, 224, 0.12);
  top:0;
  bottom: 96px;
  left:-2000px;
  right: 40px;
  position: absolute;
  border-radius: 24px;
}

.events__wrapper {
  overflow-x: scroll;
}

.events__items-holder{
  display: flex;
  justify-content: start;
}

.events__item:not(.events__item:last-child){
  margin-right: 24px;
}

/*--after-sub-section--*/

.max-width-container:last-child {
  display: flex;
  justify-content: center;
}

.after-sub {
  margin-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 0 24px;
 max-width: 408px;
}

.after-sub__text h1{
  width: 300px;
  margin-bottom: 60px;
}

.after-sub__item {
  display: flex;
  justify-content: flex-start;
}

.after-sub__item:not(.after-sub__item:last-child) {
  padding-bottom: 100px;
}

.after-sub__item h2 {
  margin-right: 16px;
}

.after-sub__item h5 {
  margin-bottom: 8px;
}

.after-sub__item p {
  max-width: 208px;
}